<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
   <!-- To get the product name -->
    <event name="catalog_controller_product_view">
        <observer name="log_product_name" instance="PushpakMods\ObserverMod\Observer\LogProductName"/>
    </event>

    <event name="controller_front_send_response_before">
        <observer name="log_routes" instance="PushpakMods\ObserverMod\Observer\LogRoutes"/>
    </event>
   
   
 
    <!-- <event name="controller_action_predispatch">
        <observer name="log_routers" instance="PushpakMods\ObserverMod\Observer\LogRouters" />
    </event> -->
</config>   