<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="PushpakMods_Story9::custom_menu" title="Custom Menu" sortOrder="10">
                    <resource id="PushpakMods_Story9::custom_submenu" title="Custom Submenu" sortOrder="10" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>