<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="PushpakMods_AccessControllerMod::custom_menu" title="Access" module="PushpakMods_AccessControllerMod" sortOrder="300" action="accesscontrol/index/accesscontroller" resource="Magento_Backend::content" />
    </menu>
</config>
