<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/vendor.bk/lusitanian/oauth/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/sebastian/object-enumerator/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-db/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-http/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/elasticsearch/elasticsearch/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/ezimuel/ringphp/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-filter/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/spomky-labs/otphp/tests" />
        <option value="$PROJECT_DIR$/dev/tests/integration/testsuite/Magento/Framework/Composer/_files/testFromCreateProject/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/codeception/lib-web/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/doctrine/deprecations/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/sebastian/diff/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-feed/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-servicemanager/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-soap/tests" />
        <option value="$PROJECT_DIR$/dev/tests/integration/testsuite/Magento/Framework/Composer/_files/testFromClone/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-zendframework-bridge/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/google/recaptcha/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-eventmanager/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-session/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/pelago/emogrifier/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-server/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/league/flysystem/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/doctrine/lexer/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/ramsey/uuid/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/dasprid/enum/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-json/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-router/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/sebastian/comparator/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-view/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/seld/signal-handler/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/tedivm/jshrink/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/magento/magento-composer-installer/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/phpseclib/phpseclib/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/phpunit/php-invoker/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/sebastian/complexity/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/sebastian/resource-operations/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/ralouphie/getallheaders/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-crypt/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/doctrine/instantiator/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/aws/aws-crt-php/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/php-http/multipart-stream-builder/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/justinrainbow/json-schema/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-uri/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/sebastian/environment/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/sebastian/code-unit/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-recaptcha/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/league/mime-type-detection/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-text/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/sebastian/exporter/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/php-amqplib/php-amqplib/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-loader/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/http-interop/http-factory-guzzle/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/phpcompatibility/php-compatibility/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/codeception/codeception/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/react/promise/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/sebastian/code-unit-reverse-lookup/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/opensearch-project/opensearch-php/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/paragonie/constant_time_encoding/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/ramsey/collection/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/sebastian/type/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/guzzlehttp/guzzle/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-modulemanager/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-validator/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-stdlib/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/codeception/module-webdriver/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/spomky-labs/pki-framework/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/sebastian/cli-parser/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/sebastian/lines-of-code/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-captcha/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/guzzlehttp/psr7/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/sebastian/global-state/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-di/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/webmozart/assert/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/phpseclib/mcrypt_compat/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/phpmd/phpmd/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-permissions-acl/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/beberlei/assert/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/web-token/jwt-framework/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-math/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/phpunit/php-code-coverage/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/sabberworm/php-css-parser/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/magento/magento2-functional-testing-framework/dev/tests/unit/Magento/FunctionalTestFramework/Composer/_files/dir1/dir2/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-code/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/friendsofphp/php-cs-fixer/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/guzzlehttp/promises/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/phpunit/php-timer/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/doctrine/annotations/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/mtdowling/jmespath.php/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/seld/jsonlint/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/spomky-labs/aes-key-wrap/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/sebastian/object-reflector/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-mime/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/brick/math/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/thecodingmachine/safe/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/monolog/monolog/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/magento/magento2-base/dev/tests/integration/testsuite/Magento/Framework/Composer/_files/testFromClone/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-i18n/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/mustache/mustache/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/braintree/braintree_php/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/phpunit/php-text-template/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/aws/aws-sdk-php/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/sebastian/recursion-context/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/nyholm/psr7/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/webonyx/graphql-php/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/phpunit/php-file-iterator/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/nikic/php-parser/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/myclabs/deep-copy/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-diactoros/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-file/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/behat/gherkin/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/paragonie/random_compat/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/pdepend/pdepend/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/php-webdriver/webdriver/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-escaper/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/magento/magento2-base/dev/tests/integration/testsuite/Magento/Framework/Composer/_files/testFromCreateProject/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-config/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-mvc/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/webimpress/safe-writer/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/brick/varexporter/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-mail/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/astock/stock-api-libphp/test" />
        <option value="$PROJECT_DIR$/vendor.bk/laminas/laminas-oauth/test" />
        <option value="$PROJECT_DIR$/vendor.bk/phpgt/dom/test/phpunit" />
        <option value="$PROJECT_DIR$/vendor.bk/magento/magento-coding-standard/Magento2/Rector/Tests" />
        <option value="$PROJECT_DIR$/vendor.bk/phpgt/cssxpath/test/phpunit" />
        <option value="$PROJECT_DIR$/vendor.bk/tubalmartin/cssmin/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/magento/composer/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/ezimuel/guzzlestreams/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/colinmollenhour/php-redis-session-abstract/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/allure-framework/allure-phpunit/test" />
        <option value="$PROJECT_DIR$/vendor.bk/akeneo/api-php-client/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/allure-framework/allure-php-commons/test" />
        <option value="$PROJECT_DIR$/vendor.bk/squizlabs/php_codesniffer/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/bacon/bacon-qr-code/test" />
        <option value="$PROJECT_DIR$/vendor.bk/magento/magento2-functional-testing-framework/dev/tests/verification" />
        <option value="$PROJECT_DIR$/vendor.bk/magento/magento2-functional-testing-framework/dev/tests/unit" />
        <option value="$PROJECT_DIR$/vendor.bk/weew/helpers-array/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/colinmollenhour/cache-backend-redis/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/codeception/stub/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/colinmollenhour/cache-backend-file/tests" />
        <option value="$PROJECT_DIR$/vendor.bk/magento/composer-dependency-version-audit-plugin/tests" />
        <option value="$PROJECT_DIR$/app/code/PushpakMods/Pushpak/Test" />
        <option value="$PROJECT_DIR$/setup/src/Magento/Setup/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/DB/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Acl/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Api/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/App/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Css/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Jwt/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Url/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Xml/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Code/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Data/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/File/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/HTTP/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Json/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Lock/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Mail/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Math/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/View/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Async/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Cache/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Event/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Image/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Model/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Mview/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Oauth/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Setup/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Shell/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Backup/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Config/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Filter/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Locale/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Logger/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Module/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Phrase/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Search/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Stdlib/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Webapi/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Archive/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Console/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Convert/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Crontab/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/GraphQl/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Indexer/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Measure/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Message/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Pricing/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Session/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Autoload/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Composer/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Profiler/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Component/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Exception/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/RequireJs/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Serialize/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Simplexml/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Translate/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Validator/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Controller/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/DataObject/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Encryption/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Filesystem/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Reflection/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Unserialize/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Interception/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Notification/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/Authorization/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/EntityManager/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/ObjectManager/Test" />
        <option value="$PROJECT_DIR$/vendor/magento/framework/TestFramework/Test" />
        <option value="$PROJECT_DIR$/dev/tests" />
      </list>
    </option>
  </component>
</project>